<meta charset="UTF-8">
<link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <div class="topnav">
        <a id = "home" href="/wearit.club/"><i class="fa fa-lg fa-home" aria-hidden="true"></i></a>
        <a id = "login" href = "/wearit.club/account/login"><i class="fa fa-lg fa-user" aria-hidden="true"></i></a>
        <a id = "cart" href = "/wearit.club/cart"><i class="fa fa-lg fa-shopping-cart" aria-hidden="true"></i></a>
        <a id = "contact" href = "/wearit.club/contact"><i class="fa fa-lg fa-envelope" aria-hidden="true"></i></a>
        <a id = "about" href = "/wearit.club/about"><i class="fa fa-lg fa-info" aria-hidden="true"></i></a>
        
    </div>