<meta charset="UTF-8">
<link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" >
<link rel = "stylesheet" href = "/assets/styles.css" type = "text/css" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


        <form class = "searchBar">
            <input class="search" type="text" placeholder="Search" name="search">
            <button class = "butt" type="submit"><i class="fa fa-search"></i></button>
        </form>
