
<link href = "/assets/styles.css" rel = "stylesheet" type = "text/css" />

    <div class="vertical-menu">
            <a href="#" class="active">Trending<i class="fa fa-lg fa-angle-right"></i></a>
            <a href="#">Most Popular<i class="fa fa-lg fa-angle-right"></i></a>
            <a href="#">New Arrivals<i class="fa fa-lg fa-angle-right"></i></a>
            <a href="#">Staff Picks<i class="fa fa-lg fa-angle-right"></i></a>
            <a href="#">Dresses<i class="fa fa-lg fa-angle-right"></i></a>
            <a href="#">Tops<i class="fa fa-lg fa-angle-right"></i></a>
            <a href="#">Bottoms<i class="fa fa-lg fa-angle-right"></i></a>
            <a href="#">Jackets<i class="fa fa-lg fa-angle-right"></i></a>
            <a href="#">Sweaters<i class="fa fa-lg fa-angle-right"></i></a>
            <a href="#">Jeans<i class="fa fa-lg fa-angle-right"></i></a>
            <a href="#">Shoes<i class="fa fa-lg fa-angle-right"></i></a>
            <a href="#">Accessories<i class="fa fa-lg fa-angle-right"></i></a>
            <a href="#">Activewear<i class="fa fa-lg fa-angle-right"></i></a>
    </div>